@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<div id="wrapper">
    <div class="main-content container">
        <div class="text-success">@ViewBag.SuccessMessage</div>
        <div class="error">@ViewBag.ErrorMessage</div>

        <div class="tab-content">
            <div id="profile-tab" class="tab-pane active">
                <div class="pd-20">

                    <hgroup class="title">
                        <h2 class="error">
                            MIHR
                        </h2>

                        <h6 class="error">
                            An error occurred while processing your request.
                        </h6>
                        @{
                            if (Request.IsLocal)
                            {
                                if (@Model != null && @Model.Exception != null)
                                {
                                    <h6>
                                        Exception was : @Model.Exception.Message
                                    </h6>

                                }
                                else
                                {
                                    <h6>
                                        Exception was null
                                    </h6>
                                }
                            }
                            else
                            {
                                <h4>
                                    The Error has been reported to the Administrator
                                </h4>
                            }
                        }
                    </hgroup>
                </div>
            </div>
        </div>
    </div>
</div>

